.cell, .cell-select {
	border: 1px solid #696969;
	margin: 3px 2px;
	with: 100%;
	height: 30px;
	text-align: center;
	line-height: 28px;
	cursor: default;
	background: #E8E8E8
}
.cell-select {
	background: #C1FFC1;
}
.fa-info-circle, .fa-check {
	font-size: 15px;
	line-height: 30px;
}
.fa-info-circle {
	color: #1E90FF;
	cursor: pointer;
}
.fa-check {
	color: #006400;
}
.bar_button {
	height: 28px;
	border: 1px solid white;
	text-align: right;
	padding: 0;
	margin-top: 5px;
}
.btn-success, .btn-primary {
	height: 27px;
	width: 90px;
}
p {
	font-weight: bold;
	font-size: 14px !important;
}
label {
	font-weight: normal;
}
.char {
	color: #AAAAAA;
}
.critical {
	background: #bf3134; /* Old browsers */
background: -moz-linear-gradient(top, #bf3134 0%, #bf0306 44%, #aa0002 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bf3134), color-stop(44%,#bf0306), color-stop(100%,#aa0002)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #bf3134 0%,#bf0306 44%,#aa0002 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #bf3134 0%,#bf0306 44%,#aa0002 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #bf3134 0%,#bf0306 44%,#aa0002 100%); /* IE10+ */
background: linear-gradient(to bottom, #bf3134 0%,#bf0306 44%,#aa0002 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf3134', endColorstr='#aa0002',GradientType=0 );
color: white;
font-weight: bold;
}

.box-kits {
	float:left;
	overflow:hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}