.dropdown a{
	color: #FFF;
}
.dropdown a:focus {
	color: #6F6F6F !important;
}
.dropdown a:hover{
	color: #000;
}
.menu_bar{
	background-attachment: scroll;
	background-image: url(../imgs/structure/back_title.jpg);
	background-repeat: repeat-x;
	background-position: left top;
	height: 30px;	
}
.menu_content{
	color: white;
}
.footer_left{
	color: #CCCCCC;
	line-height: 27px;
}
.footer_right{
	text-align: right;
	line-height: 25px;
}
.background_title{
	background-image: -o-linear-gradient(bottom, #8D8D8D 20%, #666666 80%);
	background-image: -moz-linear-gradient(bottom, #8D8D8D 20%, #666666 80%);
	background-image: -webkit-linear-gradient(bottom, #8D8D8D 20%, #666666 80%);
	background-image: -ms-linear-gradient(bottom, #8D8D8D 20%, #666666 80%);
	background-image: linear-gradient(to bottom, #8D8D8D 20%, #666666 80%);
	background-image: -webkit-gradient(
		 	linear,
		 	left top,
		 	left bottom,
		 	color-stop(0.20, #8D8D8D),
		 	color-stop(0.80, #666666)
		 );
	text-align: left;
	font-weight: bold;
	color: #FFFFFF !important;
}
.quick_menu{
	height: 30px;
	margin: 10px 0 5px 0;
}
#toolbar {
	background: none !important;
}
#toolbar .w2ui-tb-caption {
	color: white !important;
}
#toolbar table.w2ui-button.over .w2ui-tb-caption {
  color: #000000 !important;
}
#toolbar table.w2ui-button.checked .w2ui-tb-caption {
  color: #000000 !important;
}
.bread_crumbs{
	color: white;
}
.module_quick_menu{
	color: yellow;
	font-weight: bolder;
}
.help_menu{
	text-align: right;
	color: white;
}
.help_menu span{
	margin-left: 20px;
}
.greeting div{
	color: white;
	margin-right: 4px;
}
.greeting{
	padding: 12px 15px;
	text-align: right;
}
.greeting img{
	height: 16px;
	width: 16px;
}
.field_title{
	background: #D8D8D8;
	border: 1px solid white;
	height: 28px;
	line-height: 26px;
}
.field_value{
	background: #EAEAEA;
	border: 1px solid white;
	height: 28px;
	line-height: 26px;
}
.field_value_select{
	height: 26px;
	line-height: 23px;
}
.bar_btn{
	height: 28px;
	background: #EAEAEA;
	border: 1px solid white;
	text-align: right;
}

.btn_localization{
	height: 25px;
	margin-top: 1px;
	width: 130px;
}

.bar_btn .btn-success, .bar_btn .btn-primary, .bar_btn .btn-danger, .bar_btn .btn-warning{
	height: 22px;
	margin-top: 1px;
	width: 80px;
}



.list-group-item{
	height: 30px;
	border: none;
	padding: 5px 5px;
}
a.list-group-item, a.list-group-item:hover, a.list-group-item:focus{
	color: #c30;
}
.link_menu{
	color: #FFFFFF;
	text-decoration: none;
}
.link_menu:hover{
	color: #FFFF33;
	text-decoration: none;
}
.grid_box{
	padding: 0;
}
.footer_right img{
	cursor: pointer;
}
.fa-asterisk{
	font-size: 7px !important;
	color: red;
}