<!DOCTYPE html>
<html lang="pt" ng-app="Main" >
	<head>
		<title>Fluência Agora</title>
		<meta charset="utf-8"/>
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Expires" content="0" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" type="text/css" href="assets/libs/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="assets/css/style.css">
	    <script type="text/javascript" src="assets/libs/angular/angular.min.js"></script>
		<script type="text/javascript" src="app/user/scripts/userController.js"></script>
		<script type="text/javascript" src="app/user/scripts/userFactory.js"></script>
						
	</head>
	<body class="local" ng-controller="userController">
		<header>
        		<div class="header-content">
		    		<div class="header-content-inner">
		                	<h1 id="homeHeading">O mundo entende o que você fala?</h1><p></p>
		            		<span><font size="4">Pesquisas comprovam que a cada 5 pessoas no mundo 1 fala inglês.</span>
		            		<span>Salário é de até 61% maior entre quem fala inglês fluente para quem não fala.</span><br/>
			    		<span>Te ofereço a verdade que as escolas tradicionais te escondem, sim é possivel ficar fluente na lingua inglesa em 4 meses.</span><br/>
			    		<span>Cadastre seu email para receber em primeira  mão este curso que vai revolucionar o jeito de aprender inglês.</font></span><br/>
					<form name="form" ><p>
						<div class="form-group">
			  				<input type="email" name="email" class="form-control" Data-ng-model="user.email" placeholder="Email" required>
			  				<p Data-ng-show="form.email.$invalid"><font size="2" color="red" ><strong>Email</strong> é obrigatorio!</font></p><p><p>
				    			<a class="btn btn-primary btn-xl page-scroll" Data-ng-click="save()" Data-ng-disabled="form.$invalid">Enviar</a>
		    				</div>
					</form>
				</div>	
			</div>
    		</header>
		
	</body>
</html>
