<!DOCTYPE html>
<html lang="pt" ng-app="Main" >
	<head>
		<title>Fluência Agora</title>
		<meta charset="utf-8"/>
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Expires" content="0" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
       
        <link rel="stylesheet" type="text/css" href="assets/libs/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="assets/css/style.css">
	    <script type="text/javascript" src="assets/libs/angular/angular.min.js"></script>
		<script type="text/javascript" src="app/survey/scripts/surveyController.js"></script>
		<script type="text/javascript" src="app/survey/scripts/surveyFactory.js"></script>	
					
	</head>
	<body class="local" ng-controller="surveyController">
		<header>
			<div class="header-content">
            <div class="header-content-inner">
                
				<h1>Seja Bem Vindo</h1>
				<h2>Parabens pela excelente decisão.</h2>
			</div>
			</div>
		</header>
		<div class="container">
			<div>
				</br><h2>Todos já sabemos que falar inglês é muito importante, seja para uma viagem, ou para uma tão sonhada promoção no trabalho.
				Mas arrumar tempo para ir em a um escola tradicional, com metodos tradicionais, que te levará a fluência em aproximadamente 5 anos ou mais.
				Não se encaixa mais na vida cotidiana que vivemos, onde o espaço para adquirir conhecimento é curto.</h2>
				<h2>Após muitos anos de estudo e cansado de gastar fortunas em escolas tradicionais, descobri uma formula de como aprender não só o idioma inglês.
				Mas qualquer idioma do mundo mas rápido do que os metodos convencionais, podendo alcançar fluência em apenas 4 meses.</h2>
		
			</div>
			<div>			
				<img src="assets/imgs/structure/mundo2.png" width="500" class="img-rounded">
				<img src="assets/imgs/structure/mundo.jpg" width="500" class="img-rounded">
			</div>
			
			<form name="form" ><p>
				<h2>Responda nossa pesquisa e ganhe um modulo inicial totalmente gratis do nosso curso no dia do lançamento, que esta previsto para a primeira quinzena de dezembro de 2016.</h2></br>
				<div class="form-group">
				    <span >Nome</span>
					<input type="text" name="name" class="form-control" ng-model="user.name" required>
					<p Data-ng-show="form.name.$invalid"><font size="2" color="red" ><strong>Nome</strong> é obrigatorio!</font></p><p></p>
				</div>
				<div class="form-group">
				    <span >Oque você espera do nosso curso?</span>
					<input type="text" name="question1" class="form-control" ng-model="survey.question1" required>
					<p Data-ng-show="form.question1.$invalid"><font size="2" color="red" ><strong>Campo</strong> obrigatorio!</font></p><p></p>
				</div>
				<div class="form-group">
				    <span >Quanto você esta disposto a pagar para por este curso?</span>
					<input type="text" name="question2" class="form-control" ng-model="survey.question2" required>
					<p Data-ng-show="form.question2.$invalid"><font size="2" color="red" ><strong>Campo</strong> obrigatorio!</font></p><p></p>
				</div>
				<div class="form-group">
				    <span >O que você realmente precisa?</span>
					<input type="text" name="question3" class="form-control" ng-model="survey.question3" required>
					<p Data-ng-show="form.question3.$invalid"><font size="2" color="red" ><strong>Campo</strong> obrigatorio!</font></p><p></p>
				</div>
				<div class="form-group">
			  		<button type="button" Data-ng-click="save()" class="btn btn-primary" Data-ng-disabled="form.$invalid">Enviar</button>
				</div>
				</div>
			</form>
		</div>
	</body>
</html>
